body,
html {
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 2rem;
}

header,
.form-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .add-items-input,
.form-container .add-items-btn {
  font-size: 1rem;
}
.form-container .add-items-input {
  width: 350px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
}
.form-container .add-items-input:focus {
  outline: none;
}
.form-container .add-items-btn {
  width: 10%;
  background: none;
  border: none;
  cursor: pointer;
}
.form-container .add-items-btn span {
  display: none;
}
.form-container .add-items-btn:hover i {
  display: none;
}
.form-container .add-items-btn:hover span {
  display: block;
}

.task-container {
  background-color: #c7ab7e;
  height: 70vh;
  width: 90%;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.task-container ul {
  width: 90%;
}
.task-container .list-container {
  margin: 0.3rem;
  background-color: #417154;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-container .list-container .checked-btn,
.task-container .list-container .remove-btn {
  color: white;
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.task-container .list-container .checked-btn i,
.task-container .list-container .remove-btn i {
  pointer-events: none;
}
.task-container .list-container .remove-btn {
  background-color: #ed0024;
}
.task-container .list-container .checked-btn:hover {
  background-color: #305740;
}
.task-container .list-container .remove-btn:hover {
  background-color: #c2001d;
}
.task-container .list-container li {
  list-style: none;
  flex-grow: 1;
  margin: 0rem 0.5rem;
}

@media all and (min-width: 768px) {
  .task-container {
    width: 75%;
  }
}
@media all and (min-width: 992px) {
  .task-container {
    width: 60%;
  }
}