body,
html {
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 2rem;
}

header,
.form-container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .add-items-input,
.form-container .add-items-btn {
  font-size: 1rem;
}
.form-container .add-items-input {
  width: 50%;
  padding: 5px;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
}
.form-container .add-items-input:focus {
  outline: none;
}
.form-container .add-items-btn {
  width: 10%;
  background: none;
  border: none;
  cursor: pointer;
}
.form-container .add-items-btn span {
  display: none;
}
.form-container .add-items-btn:hover i {
  display: none;
}
.form-container .add-items-btn:hover span {
  display: block;
}