// colors: green = #107910 , beige = #C7AB7E

body,
html {
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Header styling

header {
  font-size: 2rem;
}

// Header and form shared styling

header,
.form-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Form styling

.form-container {
  // Input and button shared styling
  .add-items-input,
  .add-items-btn {
    font-size: 1rem;
  }
  // Input styling
  .add-items-input {
    width: 350px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid black;
  }
  .add-items-input:focus {
    outline: none;
  }
  // Button styling
  .add-items-btn {
    width: 10%;
    background: none;
    border: none;
    cursor: pointer;
    span {
      display: none;
    }
  }
  // Button hover affect to show span
  .add-items-btn:hover i {
    display: none;
  }
  .add-items-btn:hover span {
    display: block;
  }
}

// Container for tasks

.task-container {
  background-color: #c7ab7e;
  height: 70vh;
  width: 90%;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  ul {
    width: 90%;
  }
  // styling the container for the tasks
  .list-container {
    margin: 0.3rem;
    background-color: #417154;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // styling the buttons for the tasks
    .checked-btn,
    .remove-btn {
      color: white;
      background: none;
      border: none;
      padding: 1rem;
      cursor: pointer;

      // remove the click effect on the i-icons so you can click them
      i {
        pointer-events: none;
      }
    }
    .remove-btn {
      background-color: #ed0024;
    }

    // hover effect on buttons
    .checked-btn:hover {
      background-color: #305740;
    }
    .remove-btn:hover {
      background-color: #c2001d;
    }
    // styling for the list item
    li {
      list-style: none;
      flex-grow: 1;
      margin: 0rem 0.5rem;
    }
  }
}
