body,
html {
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

// colors: green = #107910 , beige = #C7AB7E

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
